div.header(class="p-2 dark text-secondary")
  nav(class="navbar navbar-expand-lg navbar-light dark")
    div(class="container-fluid dark")
        a(class="navbar-brand p-10 logo" href="/") 
            img(src="../images/logo.svg", alt="" class="logo-img dark") 
            span(class="logo-text dark") Snippets.
        button(class="navbar-toggler dark" type="button")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse ")
            ul(class="nav navbar-nav  mr-auto dark")
                li(class="nav-item dark")
                    a(class="nav-link dark" href="/") Home
                li(class="nav-item")
                    a(class="nav-link dark" href="/")  Snippets
                li(class="nav-item")
                    a(class="nav-link dark" href="/create") Add snippets
        div(class="navbar-collapse justify-content-end ")
          div(class="text-right  col-4 dark")              
            <i class='fas fa-sun' style='font-size:24px; color:orange;' onclick='handleTheme()'></i>
          ul(class="navbar-nav ml-auto dark")
            li(class="nav-item")
              a(class="nav-link dark" href="/login") Login
            li(class="nav-item dark")
              a(class="nav-link signup-link dark" href="/register") signup
                    
            
