if(message !== "")
  if(type=="error")
    p(class="text-danger p-2 m-2  messages bg-info rounded")  #{message}
  else if(type=="success")
    p(class="text-success p-2 m-2 mx-auto w-50 messages bg-info rounded") #{message}
else 
 