html
   head
      title Snippet
   body
      if(type == "error")
         h3(style = "color:red") #{message}
      else
         h1  Snippet delete, 
         p Snippet with id :#{snippet.id} removed.
        
       