doctype html 
html
  head
    title=name
  body
    h1=name 
    p Hello, from #{user.name}!
    if(user)
      h1 Hi, #{user.name}
    else 
      a(href='/sign_up') Sign Up
    |
    
    a(href='/second_view') Second View
    |
    |
    h3 Testing static file serving: 
    img(src='images/cat.jpg')
  
    
    a(href='/logout') Logout