doctype html 
html
  head
    title First View
  body
    h1 First View
    p Hello, World!
    p This is the first view.
    
    a(href='/second_view') Second View
    
    a(href='/') Home
  
    
    a(href='/logout') Logout