doctype html 
html
  head
    title First View
  body
    h1 First View
    p Hello, World!
    p This is the first view.
    p
      a(href='/second_view') Second View
    p
      a(href='/') Home
    p
      a(href='/logout') Logout