extends ../layout
block content
  div(class="mx-auto col-6 pt-3 ")
    h4 Login
    
    include ../includes/show_message

    form(action="#" method="post")
      input.input(type='text' name='email' class="col-10 m-2 p-2 rounded" placeholder="email * ")
      input.input(type='password' name='password' class="col-10 m-2 p-2 rounded"  placeholder="passord * ")
      

      a(class="btn col-10 m-2" href="#" style="background-color:#4D519D;color:white") Login
      a(class="btn col-10 m-2" href="#" style="background-color:#F8ADDA;color:white") Create new Acount
      h6(class="p-3") ––––––––––––––––––– Or continue with  ––––––––––––––––

      div(class="text-center col-10")
        <i class="fab fa-google m-1 mb-3" style="font-size:24px; "></i>
        <i class="fab fa-github m-1 mb-3" style="font-size:24px;"></i>
      