extends ../layout
block content
  div(class="mx-auto col-8 pt-3 ")
    h4 Login
    include ../includes/show_message
    form(action="/user/login" method="post" style=" width:100%; margin:auto;")
      input.input(type='text' name='email' class="w-100 mx-auto p-2 rounded"  placeholder="email * ")
      input.input(type='password' name='password' class="w-100 mx-auto p-2 rounded"   placeholder="passord * ")
      button(class="btn p-2" type="submit" style="background-color:#4D519D;color:white; width:100%;") Login
      a(class="btn p-2 mt-2 mb-4" href="/user/register" style="background-color:#F8ADDA;color:white; width:100%;") Create new Acount
      
      div(class="d-flex  flex-row justify-content-around mx-left col-12 align-items-center ") 
        div(style="border:solid 2px black; width:40%")
        Or continue with 
        div(style="border:solid 2px black; width:40%")   

      div(class="text-center col-12")
        <i class="fab fa-google m-1 mb-3" style="font-size:24px; "></i>
        <i class="fab fa-github m-1 mb-3" style="font-size:24px;"></i>
      